# The Exam

### Part I

#### q1

Что будет результатом выполнения данного чанка?  
***Ответ:*** Like ripples on a blank shore

In [ ]:
# print('21st Century Schizoid Man')

Сколько объектов можно поместить внутрь функции `print()`?  
***Ответ:*** сколько угодно

Как нельзя назвать переменную?  
***Ответ:*** 1st_value

#### q2

Какая функция возвращает класс объекта?  
***Ответ:*** type

Какое целое число в классе `int` сооветствует значению `True` в классе `bool`?  
***Ответ:*** 1

Чтобы питон понял, что объект принадлежит классу `str`. его надо обернуть...  
***Ответ:*** все варианты верны ("", "", """""")

#### q3

In [13]:
float(bool(str(bool('Error')))) # 1.0

1.0

In [14]:
'12.3' # str

'12.3'

In [15]:
bool(str(int(False))) # True

True

#### q4

In [17]:
15 // 4

3

In [18]:
30 % 4

2

In [38]:
'¯\_(ツ)_/¯'*3

'¯\\_(ツ)_/¯¯\\_(ツ)_/¯¯\\_(ツ)_/¯'

#### q5

In [23]:
17 > 4 or 17 < 4

True

In [27]:
not ( 2 * 2 == 4 and 2 + 2 == 5 )

True

In [30]:
not not not not not False

True

#### q6

Which function is claimed to collect user's input data?  
***input()***

Which role has a single `str` object inside `input()`?  
***Comment***

Which type of data does the finction `input()` return?  
***str***

#### q7

How Pyhton understands that the codeline should be executed only once `if` condition is satisfied?  
***Space after if***

Which keyword is essential inside `if` statement?  
***`if`*** (ifelse, else, for)

What should be satisfied for Python to execute the code after `if` condition?  
***Logical expression equals True***

#### q8

Skip int, input and elif here

In [42]:
time = int(input("Enter hours here"))

if time < 6:
    print("good night!")
elif time < 12:
    print("good morning!")
elif time < 18:
    print("good afternoon!")
elif time <= 24:
    print("good evening!")
else:
    print("wrong time. try again")

wrong time. try again

#### q9

Which of these objects are immutable, meaning values cant be changes once assigned?  
***Tuples***

Which data container uses square brackets to create an object?  
***list***

Which of these objects has no indexing?  
***sets***

#### q10

Determine the correct index of the element **Cola** inside the nested list:  
`ecommerce=[['books',['comedy','horror'],'toys',['snacks', ['cola', 'pepsi', 'fanta']],'kitchenware'],[200,100,350]]`

In [72]:
ecommerce=[['books',['comedy','horror'],'toys',['snacks', ['cola', 'pepsi', 'fanta']],'kitchenware'],[200,100,350]]
ecommerce[0][3][1][0]

'cola'

#### q11

Get the word **courage** from the word **encouragement** using index slices only.

In [73]:
'encouragement'[2:-4]

'courage'

In [80]:
'undisclosed'[5:-1]

'close'

In [78]:
'opportunity'[6:]

'unity'

#### q12

Alternades: collect the word pie from the word paines using slices with steps only.

In [83]:
'pained'[::2]

'pie'

In [86]:
'truancies'[::2]

'tunis'

In [87]:
'board'[::2]

'bad'

#### q13

Highlight the mistake in this code chunk  
**Infinite loop**

In [88]:
# i = 10
# while i > 0:
#     print(i)

#### q14

Write correct condition for this output here

In [90]:
current_level = 1
final_level = 3

game_completed = True

while current_level <= final_level:
    if game_completed: 
        print('You have passed level', current_level)
        current_level += 1

print('Level Ends')

You have passed level 1
You have passed level 2
You have passed level 3
Level Ends

#### q15

Complete missing condition to display fruits from the shopping cart (it must contain some keyword).

In [92]:
cart = ['iphone', 'cookies', 'shirt', 
        'banana', 'orange', 'fork']

fruits = ['apple', 'banana', 'orange']

for item in cart: 
    if item in fruits:
        print(item)

banana
orange

#### q16

Fill the gap to get this output:

In [94]:
for j in range(1, 6):
    print(j)

1
2
3
4
5

#### q17
Which data type is not allowed for `dict` keys?  
***Allowed:*** integer, float, string, booleans, tuples  
***Not allowed:*** list, dict, set

#### q18

Get the song "What I've Done" from the dict of vinyl collection.

In [114]:
collection = {
        "Linkin Park": {
            "albums": ["Hybrid Theory", "Meteora"],
            "singles": ["What I've Done", 'All for Nothing'] 
        },
        'Nirvana': {
            "albums": ["Nevermind", "MTV Unplugged in New York"],
            "singles": ["Heart-Shaped Box", "All Apologies / R**e Me"]
        },
        'Arctic Monkeys': {
            "albums": ["Humburg", "AM", "Tranquility Base Hotel & Casino"],
            "singles": ["Do Me a Favor", "I Bet You Look Good on the Dancefloor"]
        }
}

In [110]:
collection['Linkin Park']['singles'][0]

"What I've Done"

#### q19

FIll the gap to remove **"I Bet You Look Good on the Dancefloor"** from the collection and add a new list - category **Films** to Arctic Monkey's dictionary with the value **"Submarine"**

In [115]:
collection['Arctic Monkeys']['singles'].remove("I Bet You Look Good on the Dancefloor")
collection['Arctic Monkeys']['films'] = ['Submarine']

#### q20

Fill the gaps in the code to make correct string formatting

In [119]:
amount_of_tonnes = 10
f"A {amount_of_tonnes} ton head, made of wet sand".split()

['A', '10', 'ton', 'head,', 'made', 'of', 'wet', 'sand']

#### q21

Write the correct line to import package for table-view data (DataFrames) with its shorten name

`import pandas as pd`

#### q22
Which method we should use to remove one particular feature (column) from a DataFrame?  
`.drop()` / remove, head_out, isin

#### q23

Which word here is missing to make the DataFrame sorted in descending order?
`ascending`

In [133]:
iris.sort_values('sepal_length', ascending = False)

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

#### q25
Lamda functions also known as...
anpnymous

globals
args
kwargs

### Part II

#### q1 
There is a tuple `workers` that contains names of co-workers. You need to add new employee, **Jim Halpert**, to this tuple. Note that result object of this operation shoul be tuple as well.

In [121]:
office = ('Michael Scott', 'Dwight Schrute', 'Pam Beesly',
            'Ryan Howard', 'Stanley Hudson', 'Kevin Malone',
            'Angela Martin', 'Oscar Martinez')

office = list(office)
office.append('Jim Halpert')
office = tuple(office)

office

('Michael Scott',
 'Dwight Schrute',
 'Pam Beesly',
 'Ryan Howard',
 'Stanley Hudson',
 'Kevin Malone',
 'Angela Martin',
 'Oscar Martinez',
 'Jim Halpert')

#### q2

Now you need to cover the code of previous task in function to get such kind of testing output:  

> `add_new_employee(office, 'Andy Bernard')`  
>
> `('Michael Scott',
 'Dwight Schrute',
 'Pam Beesly',
 'Ryan Howard',
 'Stanley Hudson',
 'Kevin Malone',
 'Angela Martin',
 'Oscar Martinez',
 'Jim Halpert')`

In [122]:
def add_new_employee(obj, person):

    obj = list(obj)
    obj.append(person)
    obj = tuple(obj)

    return obj

In [123]:
add_new_employee(office, 'Andy Bernard')

('Michael Scott',
 'Dwight Schrute',
 'Pam Beesly',
 'Ryan Howard',
 'Stanley Hudson',
 'Kevin Malone',
 'Angela Martin',
 'Oscar Martinez',
 'Jim Halpert',
 'Andy Bernard')

#### q3

There is a sentence given to you in string. You need to write a code that will create a dictionary of word occurrence in this sentence. 

> hint: firstly it might be helpful to get a list of word separated between each other.

In [136]:
sent = '''
Peter Piper picked a peck of pickled peppers
a peck of pickled peppers Peter Piper picked
if Peter Piper picked a peck of pickled peppers
where is the peck of pickled peppers Peter Piper picked\
'''
frq = {}
for w in sent.split():
    if w in frq:
        frq[w] += 1
    else:
        frq[w] = 1

frq

{'Peter': 4,
 'Piper': 4,
 'picked': 4,
 'a': 3,
 'peck': 4,
 'of': 4,
 'pickled': 4,
 'peppers': 4,
 'if': 1,
 'where': 1,
 'is': 1,
 'the': 1}

#### q4

Write a code that will calculate how many rolls of 20-sided rolling dice it takes to roll equal result on both of dices.

In [163]:
import random 

d1 = 0 
d2 = 1
i = 0

while d1 != d2:
    d1 = random.randint(1, 20)
    d2 = random.randint(1, 20)
    i +=1

print(i)

3

#### q5

In [175]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/epogrebnyak/ru-cities/main/assets/towns.csv")
df.head()

,city,population,lat,lon,region_name,region_name_ao,region_iso_code,federal_district,okato,oktmo,kladr_id,fias_id,place_id
0,Алейск,29.0,52.492251,82.779361,Алтайский край,NaN,RU-ALT,Сибирский,1403000000,1703000001,2200000200000,ae716080-f27b-40b6-a555-cf8b518e849e,257210632.0
1,Барнаул,632.4,53.347997,83.779806,Алтайский край,NaN,RU-ALT,Сибирский,1401000000,1701000001,2200000100000,d13945a8-7017-46ab-b1e6-ede1e89317ad,258390190.0
2,Белокуриха,15.2,51.996152,84.983960,Алтайский край,NaN,RU-ALT,Сибирский,1404000000,1704000001,2200000300000,e4edca96-9b86-4cac-8c7f-cc93d9ba4cd1,258169961.0
3,Бийск,199.5,52.539386,85.213845,Алтайский край,NaN,RU-ALT,Сибирский,1405000000,1705000001,2200000400000,52f876f6-cb1d-4f23-a22f-b692609fc1e0,258937159.0
4,Горняк,12.3,50.997962,81.464336,Алтайский край,NaN,RU-ALT,Сибирский,1225501000,1625101001,2202700100000,094b3627-2699-4782-8492-4d82aac71958,259062368.0

In [174]:
df[['city', 'region_name']].groupby('region_name').count().sort_values(by = "city", ascending = False).head()

                       city
region_name
Московская область       74
Свердловская область     47
Ленинградская область    33
Челябинская область      30
Тюменская область        29